
header {
	background-image: url(../img/classic.jpg);
	background-size: cover;
	height: 315px; width: 856px;
	margin-left: auto; margin-right: auto;
	background-repeat: repeat;
}
h1{
	font-family:helvetica ;
	align-content: center;
	color: lightblue;
	text-align: center;
	
}
#title {
	
	color: gold;
	-webkit-text-stroke: 2px black;
	

}
body{
	background-color: grey;
}
nav{ background-color: black;
	text-align: center;

}
a{
	color: white;
	font-family: Helvetica;
}
a:hover{
	color:yellow;
}
#navlist{
	color:blue;


}
ul{
	align-items: center;
	color: white;

}
article{ background-color: white;

}
#art1{
	float: left;
	width: 48%;
}
#art2{
	float: right;
	width: 48%;
}
section{
	background-color: black;
}
footer {
	position: fixed;
	margin-top:220px; 
}